* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-size: 25px;

    margin-bottom: 50px;
}

form {
    width: 80%;
    margin: 0 auto;
}

form label {
    font-size: 16px;
}

.input-wrapper {
    margin-bottom: 30px;
    width: 100%;
}

form input, form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px;
}

.button {
    width: 100%;
    display: block;
    margin: 50px 0;
    padding: 15px 0;
    font-size: 16px;
}

.read-figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.read-figure figure {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.read-figure figure img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.read-figure figcaption {
    padding: 15px;
}